<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ar" lang="ar">
 <head>
    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" /> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    {% for word in words %}
      <!-- {% if word.author %}
        <b>{{ word.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %} -->
      <blockquote dir=rtl>{{ word.arabtext|escape }}</blockquote>
      <blockquote>{{ word.root|escape }}</blockquote>
      <blockquote>{{ word.meaning|escape }}</blockquote>
      <blockquote dir=rtl>{{ word.usageexample|escape }}</blockquote>
      <a href="/edit?key={{ word.key }}">edit</a>
      <a href="/delete?key={{ word.key }}">delete</a>
    {% endfor %}

    <form action="/sign" method="post">
      <div>Arabic:<input type=text name="arabtext"></div>
      <div>(roman):<input type=text name="romantext"></div>
      <div>Root:<input type=text name="root"></div>
      <div>English:<input type=text name="meaning"></div>
      <div>Usage Example:</div>
      <div><textarea name="usageexample" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Add definition"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>
